.App {
 
  display: grid;
  margin: 0;
  padding: 5px;
  gap:10px;
  grid-template-columns: 1fr 1fr;
  
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grilla{
  
  display: grid;
  
  
}