.App {
 
  display: grid;
  margin: 0;
  padding: 5px;
  gap:10px;
  grid-template-columns: 1fr 1fr;
  
}

.loaderIntro{
  width: 100vw;
  height: 100vh;
  background-color:white;
  display: flex;
  align-items:center;
  justify-content: center;
  color:white;
  font-weight: bold;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grilla{
  
  display: grid;
  
  
}